stages:
  - build

variables:
  VERSION: $CI_COMMIT_TAG
  IMAGE_NAME: task-manager

workflow:
  rules:
    - if: $CI_COMMIT_TAG =~ /^[0-9]+\.[0-9]+\.[0-9]+$/
      when: always

build:
  stage: build
  script:
    - docker build --rm -t $IMAGE_NAME:$VERSION -t $IMAGE_NAME:latest .
  tags:
    - shell
    - scdt-ai
